{% extends "base.html" %}

{% block content %}
    <div class="stage-tabs">
        <button class="tab-btn active" onclick="switchStage(1)">⭐ Stage 1 – Tricky Words</button>
        <button class="tab-btn" onclick="switchStage(2)">✨ Stage 2 – Vocabulary</button>
        <button class="tab-btn" onclick="switchStage(3)">🌟 Stage 3 – Top Frequent Words</button>
        <button class="tab-btn" onclick="switchStage(4)">🌠 Stage 4 – Fill the Sentence </button>
    </div>

    <div class="card">

        <!-- ===== STAGE 1 ===== -->
        <div class="stage-panel active" id="stage1">

        {% include 'stage_1.html' %}

        </div>

        <!-- ===== STAGE 2 ===== -->
        <div class="stage-panel" id="stage2">

        {% include 'stage_2.html' %}

        </div>

        <!-- ===== STAGE 3 ===== -->
        <div class="stage-panel" id="stage3">

        {% include 'stage_3.html' %}

        </div>

        <!-- ===== STAGE 4 ===== -->
        <div class="stage-panel" id="stage4">

        {% include 'stage_4.html' %}

        </div>

    </div>
    
{% endblock %}
